
#container {
    display: flex;
    flex-direction: column;
  }
  #intro {
      display: flex;
      justify-content: center;
     
  }
  
  header {
      border: 3px black solid;
      display: flex;
      justify-content: center;
      height: 150px;
  }
  
  nav ul li{
      display: inline-flex;
      border: 2px black solid;
    }

  #main_content {
    display: inline-flex;
     }

  main {
      justify-content: center;
      width: 75%;
      height: 750px;
      display: flex;
      
  }
  
  section {
     
      background-color: blue;
      width: 25%;
      
  }
  
  section ul {
    list-style: none;
    margin: 25%;
  }

  h2{
      margin:25%;
  }
  footer { 
      border: 3px black solid;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      height: 100px;
  
  }